* {
    font-family: 'Roboto Slab', serif;
    color: white;
    box-sizing: border-box;
    
}

body {
    background-color: black
}

.title {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.logosubtitle {
    font-size: 24pt;
    background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    position: absolute;
    right:20px;
    bottom: 35px;
}

.audiobar {
    width: 100px;
    height: 32px;
}

.gamebox {
    margin: 0 auto;
    width: 600px;
    border: 2px solid rgb(216, 172, 105);

}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
} 

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    background-color: black;
    color: yellow;
    border: 1px solid orange;
    display: block;
    margin-left: auto;
    margin-right: auto;
}